
form
  div.form-group.marca
    label(for='selectMarcas') Marca
    select#selectMarcas.selectpicker 
      include ./marcas.html
  div.form-group.modelo
    label(for='selectModelo') Modelo
    select#selectModelo.selectpicker
  div.form-group.combustible
    label(for='selectCombustible') Combustible
    select#selectCombustible.selectpicker
  div.form-group.edad
    label(for='inputMaxAge') Posterior a
    input(type='number' min='1980' max='2016').form-control#inputMaxAge
    label(for='inputMinAge') Anterior a
    input(type='number' min='1980' max='2016').form-control#inputMinAge
  div.form-group.Provincia
    label(for='selectProvincias') Provincia
    select#selectProvincias.selectpicker
  div.form-group.Pasta
    label(for='inputMinPasta') Min €
    input#inputMinPasta(type='number').form-control
    label(for='inputMaxPasta') Max €
    input#inputMaxPasta(type='number').form-control

  button(type='submit' value='Search' ng-click="search()").btn.btn-default#searchCarsBtn Consulta
