doctype html
html(lang='es' ng-app="buscaCochesApp")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-select/dist/css/bootstrap-select.min.css')
    script(src='./bower_components/jquery/dist/jquery.min.js')
    script(src="./bower_components/bootstrap-select/dist/js/bootstrap-select.min.js")
    script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='./bower_components/bacon/dist/Bacon.min.js')
    script(src='../bower_components/angular/angular.min.js')
    script(src='./bower_components/angular-bacon/dist/angular-bacon.min.js')