include ./includes/headers.pug
  body
    block content
div.container
    header.row
        h1= title
    div.row.content(ng-controller="CochesController")
      aside#busqueda.col-sm-4
        include ./includes/formBusqueda.pug
      div.row.row-content.col-sm-8
        table(data-role='listview').table-striped.table-bordered.table-hover.table-condensed
          tbody
                tr
                  th Marca
                  th Modelo
                  th Precio
                  th Provincia
                  th Combustible
                  th Kilometros
                  th Año
                  th Vida por delante
                  th Coste por año
                tr.coches.clickable-row(ng-repeat="coche in coches")
                        td.
                          {{coche.marca}}
                        td.
                          {{coche.modelo}}
                        td.
                          {{coche.precio}}
                        td.
                          {{coche.ciudad}}
                        td.
                          {{coche.combustible}}
                        td.
                          {{coche.kilometros}}
                        td.
                          {{coche.age}}
                        td.
                          {{coche.videPorDelante}}
                        td.
                            {{coche.costeAnual}}
    footer.row (c) copirrait cacafuti enterpries 1991
script.
 jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.open ($(this).data("href"),'_blank');
    });
 });
//script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
script(src="javascripts/app.js")
script(src="javascripts/controllers.js")