body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
tr:nth-child(even){
  background-color: #dcdcdc;
}
tr:nth-child(odd){
  background-color: #aaaaaa;
}
tr:first-child{
	background-color: black;
	color: white;
}
tr:hover{
	background: beige;
	cursor: pointer;
}
.coches td{
	padding: 0 1em;
}